.tp-popup {
    font-family: Roboto, sans-serif;
}

.tp-shadow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.54);
}

.tp-container {
    position: fixed;
    margin-top: 100px;
    left: 50%;
    margin-left: -140px;
    width: 280px;
    background-color: #fafafa;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.tp-header-container {
    box-sizing: border-box;
    width: 100%;
    background-color: #009688;
    color: #fff;
    font-size: 58px;
    padding: 14px 0;
}

.tp-header-time-container {
    text-align: center;
    justify-content: center;
    align-items: baseline;

}

.tp-header-time {
    position: relative;
    margin: 0 10px;
    display: inline-block;
}

.tp-header-minutes {
    opacity: 0.76;
}

.tp-header-am-pm-container {
    font-size: 17px;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 100%;
    width: 30px;
    margin-left: 10px;
}

.tp-header-am-pm {
    opacity: 0.76;
}

.tp-header-am-pm-active {
    opacity: 1;
}

.tp-body {
    box-sizing: border-box;
    position: relative;
    height: 300px;
    width: 100%;
    padding: 20px 10px;
}

.tp-clock-pointer {
    position: absolute;
    background-color: #009688;
    width: 2px;
    height: 40%;
    left: 50%;
    bottom: 50%;
    margin-left: -1px;
    transform-origin: center bottom 0;
    pointer-events: none;
}

.tp-clock-center {
    position: absolute;
    background-color: #009688;
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-top: -2px;
    margin-left: -2px;
    left: 50%;
    top: 50%;
    pointer-events: none;
}

.tp-clock {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: #eee;
    position: relative;
}

.tp-clock-number {
    color: #5d5b5b;
    position: absolute;
    width: 32px;
    height: 32px;
    /*margin-left: -16px;*/
    /*margin-top: -16px;*/
    border-radius: 100%;
    text-align: center;
    line-height: 32px;
}

.tp-clock-number-0 {
    left: 130px;
    top: 21px;
}

.tp-clock-number-45 {
    left: 21px;
    top: 130px
}

.tp-clock-overlay-clip {
    position: absolute;
    width: 32px;
    height: 32px;
    /*margin-left: -16px;*/
    /*margin-top: -16px;*/
    border-radius: 100%;
    background-color: #009688;
    overflow: hidden;
}

.tp-clock-overlay-container {
    position: absolute;
    width: 0;
    height: 0;
    overflow: visible;
}

.tp-clock-number-0 .tp-clock-overlay-container {
    left: -114px;
    top: -5px;
}

.tp-clock-number-45 .tp-clock-overlay-container {
    left: -5px;
    top: -114px;
}

.tp-clock-overlay-container .tp-clock-number {
    color: #fafafa;
}

.tp-footer {
    text-align: right;
    padding: 8px;
}

.tp-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    padding: 0;
    height: 36px;
    line-height: 36px;
    min-width: 88px;
    color: rgb(0, 188, 212);
    border-radius: 2px;
    user-select: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

.tp-button:hover {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: #eee;
}

.tp-button-content {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: middle;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}
